.card-style {
  width: 13rem;
}

.card-style:hover {
  transform: scale(1.1);
  z-index: 2;
}

.img-card {
  object-fit: cover;
  height: 50%;
}

.title-card {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
